<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <a href="/login">Login</a>
    <form action="/register" method="post">
        <input type="email" name="email" placeholder="Username" >
        <input type="password" name="password" placeholder="Password" >
        <button type="submit">Register</button>
    </form>
    <div>
        <ul>
            <% for(let user of users)  { %>
            <li><%= user.email %></li>
            <% } %>
        </ul>
    </div>
</body>
</html>